@import '../base/settings';

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $black;
    padding: 0 $l;
}

.navContainer {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 $xs;
    text-decoration: none;
    border-bottom: 2px solid $white;
    animation: .15s ease-in-out;
}

.link:hover {
    border-bottom: 2px solid $pink;
}

.active {
    border-bottom: 2px solid $pink;
    color: $pink
}

.logoutBtn {
    padding: $xs;
    margin-left: $xs;
}

#logoutIcon {
    font-size: $xl;
}