@import '../base/settings';

.container {
    border: 1px solid $black;
    border-radius: $xs;
    margin: $l;
}

.imgContainer {
    margin-right: 1rem;
    height: 50px;
    min-width: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    height: auto;
    width: 50px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background: $xDarkGrey;
    padding: $l;
}

.postContent {
    margin: 0 $l;
}

.postFooterContainer {
    display: flex;
}

.addCommentBtn {
    margin: 0 0 $l $l;
}
