@import '../base/settings';

.componentContainer {
    display: inline-flex;
}

.voteContainer {
    display: inline-flex;
    align-items: center;
    margin-left: $l;
}

.voteContainer > .material-icons {
    font-size: $xxl;
}

.voteIcon {
    cursor: pointer;
    font-size: $xxl;
}

.hasVotedIcon {
    color: $pink
}

.commentCount {
    margin-left: 6px;
    margin-bottom: 1px;
}