@import '../base/settings';

.container {
    border: 1px solid $black;
    margin: $l;
}

.imgContainer {
    margin-right: 1rem;
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background: $xDarkGrey;
    padding: $l;
}

.postContent {
    margin: 0 $l;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: $s;
}

.updateBtn {
    margin-right: $s;
}

.deleteBtn {
    padding: $xs;
    margin-left: $s;
}

#deleteIcon {
    font-size: $xl;
}
