@import '../base/settings';

.voteContainer {
    display: inline-flex;
    align-items: center;
    margin-left: $l;
}

.voteContainer > .material-icons {
    font-size: $xxl;
}

.voteIcon {
    font-size: $xxl;
}

.hasVotedIcon {
    color: $pink
}
