
// Colors
$white: #FCFAF9;
$platinum: #E5E5E5;
$silver: #AAAAAA;
$grey: #7F7B82;
$medGrey: #575A5E;
$darkGrey: #282828;
$xDarkGrey: #232323;
$black: #0F0F0F;
$pink: #D94A81;
$blue: #3D405B;
$darkblue: #102542;
$prussianBlue: #1C3144;


// Spacing
$xs: .25rem;
$six: .375rem;
$s: .5rem;
$m: .75rem;
$l: 1rem;
$xl: 1.5rem;
$xxl: 2rem;